.page-header {
    line-height: 40px;
    border-bottom: 1px solid #eee;
}
.container-main {
    padding-top: 40px;
}
.page-footer {
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #eee;
}